@use "../utils" as *;

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 22px 36px;
  width: 100%;
  max-width: max-content;

  cursor: pointer;

  font-weight: 800;
  font-size: 19.5px;
  line-height: 31.2px;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;

  @include transition;

  a {
    display: flex;
    cursor: pointer;
  }

  &--dark {
    border: 1px solid $mainBackgroundDark;
    background-color: $mainBackgroundDark;

    a {
      color: $mainColorWhite;
    }

    &:hover {
      background-color: $mainColorWhite;
      box-shadow: 0px 0px 10px $mainColorDark;
      a {
        color: $mainColorDark;
      }
    }

    &:active {
      transform: scale(0.95);
    }
  }

  &--white {
    border: 1px solid $mainColorWhite;
    background-color: $mainColorWhite;

    a {
      color: $mainColorDark;
    }

    &:hover {
      background-color: $mainColorDark;
      box-shadow: 0px 0px 10px $mainColorWhite;
      a {
        color: $mainColorWhite;
      }
    }

    &:active {
      transform: scale(0.95);
    }
  }

  &--big {
    padding: 28px 80px;

    @include onTablet {
      padding: 28px 48px;
    }
  }
}
