$mainColorWhite: #fff;
$mainColorDark: #212529;
$mainColorOrange: #ff3c00;
$mainBackgroundGrey: #eaeaea;
$mainBackgroundYellow: #fbdb3c;
$mainBackgroundDark: #323232;
$logoSmall: 162px;
$logoMedium: 240px;
$logoBig: 348px;
